body > #root > div {
  height: 100vh;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(240, 240, 240);
}

select {
  display: block;
  margin: 0 auto;
  width: 75px;
}

.infowidth {
  width: calc(100% - 0.75em);
}

#username:focus,
#password:focus,
#firstname:focus,
#lastname:focus,
#pass:focus,
#email:focus,
#problem:focus,
#subject:focus,
#loginEmail:focus {
  border-bottom: 1px solid blue;
  box-shadow: 0 1px 0 0 blue;
}

.input-field input:focus + label {
  color: blue !important;
}
.inactive-comp {
  display: none;
}

.active-comp {
  display: block;
  animation: slide-down 0.5s ease-in;
}

.logo{
  float: left;
  filter: invert(100%);
  height: 80px;
}

.logoContainer{
  position: absolute;
  top: 5%;
  left: 5%;
}

.logoTextContainer{
  float: right;
}

.logoText{
  margin-top: -8px;
  margin-left: 15px;
  margin-bottom: 0px;
  font-size: 200%;
  font-family: "Montserrat", sans-serif;
}

.logoSlogan{
  float: left;
  margin: 0;
  margin-top: -10px;
  margin-left: 17px;
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
  font-size: 90%;
}

.navLogo{
  line-height: 42.4px;
  margin-left: 25px;
  color: White;
  font-family: "Montserrat", sans-serif;
}

.navLogo img{
  margin-top: 3px;
  margin-right: 10px;
  height: 35px;
}

.sidebarLogoContainer{
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgba(180, 180, 180, 0.4);
  margin-left: 15px;
  margin-bottom: 10px;
}

.sidebarLogoContainer img{
  height: 26px;
  opacity: 0.4;
}

.sidebarLogoContainer .logoText{
  font-size: 100%;
}

.sidebarLogoContainer .logoSlogan{
  margin-top: -5px;
  font-size: 70%;
}

.sidebarLogoContainer .logoTextContainer{
  margin-top: 6px;
  margin-left: -4px;
}

.construction{
  margin: 0 auto;
  margin-top: 75px;
  height: 500px;
  width: 421px;
}

.construction img{
  height: 500px;
}

.no-button {
  background-color: white;
  color: blue;
  box-shadow: none;
  font-size: 13px;
  font-weight: bold;
  width: 100px;
  padding-right: 15px;
  padding-left: 15px;
}

.no-button:hover {
  font-weight: bold;
  background-color: white;
}

.no-button:active,
.no-button:focus {
  background-color: white;
}

.button {
  font-size: 13px;
  font-weight: bold;
  width: 100px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: blue;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.button:hover {
  background-color: blue;
}

.button:active,
.button:focus {
  background-color: rgb(2, 2, 207);
}

.left {
  float: left;
}

.right {
  float: right;
}

.banner {
  position: relative;
  min-width: 60%;
  height: 100vh;
  color: white;
  background: linear-gradient(rgba(38, 38, 65, 0.75), rgba(38, 38, 65, 0.75)),
    url("./1.jpg");
  overflow: hidden;
  
}

.form {
  width: 40%;
  height: 100vh;
  max-width: 700px;
  background-color: white;
  color: rgb(38, 38, 65);
}

#firstname,
#lastname,
#pass,
#email,
#loginEmail {
  width: 100%;
}

.formcontainer {
  font-family: "Montserrat", sans-serif;
  width: 60%;
  margin: auto;
  margin-top: 23%;
}

.formcontainer h4 {
  color: blue;
}

.dashboardcontainer {
  width: calc(100% - 225px);
  float: right;
  height: 100vh;
  background-color: rgb(240, 240, 240);
}

#username {
  float: left;
  margin-left: 7px;
}

#companylogo {
  text-transform: uppercase;
  padding: 5px 0;
  padding-bottom: 21px;
  margin-bottom: 0;
  display: inline-block;
  font-size: 18px;
  color: White;
  white-space: nowrap;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  display: block;
  border-bottom: 1px solid rgba(180, 180, 180, 0.3);
}

#account {
  text-transform: uppercase;
  padding: 10px 0;
  margin-bottom: 0;
  display: inline-block;
  font-size: 18px;
  color: White;
  white-space: nowrap;
  font-weight: 400;
  line-height: 32px;
  overflow: hidden;
  text-align: center;
  display: block;
  border-bottom: 1px solid rgba(180, 180, 180, 0.3);
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

#userinfo {
  float: left;
  width: 70%;
  max-width: 160px;
  overflow: hidden;
  height: 32px;
  margin-left: 15px;
  align-items: center;
}

#userinfo img {
  float: left;
  margin-right: 5px;
  width: 32px;
}
.useroptions {
  font-family: "Archivo", sans-serif;
  font-size: 11px;
  background: linear-gradient(rgba(22, 22, 37, 0.9), rgba(38, 38, 65, 0.75));
  border-bottom: 1px solid rgba(180, 180, 180, 0.3);
}

.sidebar .useroptions a {
  padding-left: 20px;
}

#arrow {
  float: right;
  height: 24px;
  margin-top: 4px;
  margin-right: 5px;
  filter: invert(100%);
}

.down {
  transform: rotate(0deg);
  transition: transform 0.25s linear;
}

.up {
  transform: rotate(180deg);
  transition: transform 0.25s linear;
}

.links {
  margin-top: 15px;
}

.links img {
  margin: 16px 10px 0px 12px;
  width: 18px;
  float: left;
  opacity: 0.5;
}

.sidebar .link a {
  float: left;
}

.dashboardtitle {
  margin-left: 20px;
  float: left;
  color: black;
  line-height: 32px;
}

nav ul a {
  color: black !important;
}
nav {
  box-shadow: none !important;
}
.nav-wrapper {
  color: black;
  background-color: rgb(240, 240, 240);
  position: inherit !important;
}

.marketContainer {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  height: auto;
  margin-bottom: 30px;
  padding: 35px;
  background-color: rgb(240, 240, 240);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  background-repeat: repeat-y;
}

.shoppingContainer {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  height: auto;
  padding: 35px;
  background-color: rgb(240, 240, 240);
  background-repeat: repeat-y;
  font-family: "Archivo", sans-serif;
  
}

.shoppingContainer h4{
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.total{
  margin: 0;
  margin-left: 25px;
  line-height: 36px;
  float: left;
  color: rgb(204, 0, 0);
  font-size: 125%;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.total i{
  margin-top: 5px;
}

.userContainer {
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  height: auto;
  padding: 35px;
  background-color: rgb(240, 240, 240);
  background-repeat: repeat-y;
}

.completeContainer {
  width: 95%;
  margin: 0 auto;
  height: auto;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  padding-top: 5px;
}

.finishContainer {
  width: 95%;
  margin: 0 auto;
  margin-top: 15px;
  height: auto;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.3);
  padding: 5px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.finish{
  font-size: 110%;
  font-weight: bold;
}

.margin-right-20{
  margin-right: 20px;
}

.market-nav {
  background-color: rgb(0, 0, 199);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
}

.nested-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
  margin-top: 15px;
  text-align: left;
}

#cart {
  margin-top: 7px;
  text-align: right;
  position: relative;
}

.inCart{
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  text-align: center;
  top: 0;
  right: 0;
  margin-top: -10px;
  margin-right: -10px;
  font-family: "Montserrat", sans-serif;
}

#profile {
  margin-top: 7px;
  margin-left: 35px;
}

#search {
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
  background: linear-gradient(rgb(0, 0, 146), rgb(0, 0, 173));
  border:1px solid blue;
  margin-top: 13px;
  height: 41px;
  position: relative;
  color: white;
}

#search input {
  width: calc(100% - 50px);
  float: left;
  margin: 0;
  padding: 0;
  padding: 10px;
  padding-right: 0px;
  padding-left: 20px;
  height: 20px;
  border-bottom: 0px !important;
  font-size: 14px;
  overflow: hidden;
}

.input-field {
  margin-top: 0px !important;
}

#search input[type="text"]:focus,
#search input[type="text"]:active {
  border-bottom: 0px;
  box-shadow: none;
}

#search input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#search i {
  position: absolute;
  margin-right: 5px;
  bottom: 0;
  right: 0;
  float: right !important;
  line-height: 41px;
  cursor: pointer;
}

.market-nav i.material-icons {
  color: white;
}

nav ul a:hover {
  background-color: rgb(240, 240, 240);
}
.sidebar {
  margin: 0;
  width: 225px;
  background: linear-gradient(rgba(38, 38, 65), rgba(22, 22, 37));
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

/* Sidebar links */
.sidebar a {
  transition: all 0.15s ease-in;
  display: block;
  color: white;
  padding: 16px;
  padding-left: 0;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  border-left: 4px solid blue;
  background-color: hsla(0, 0%, 78%, 0.4);
  text-transform: capitalize;
  color: white;
}

.activeLink {
  border-left: 4px solid blue;
  background-color: hsla(0, 0%, 78%, 0.4);
  text-transform: capitalize;
  color: white;
}
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: hsla(0, 0%, 78%, 0.2);
  color: white;
  box-shadow: none;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.eachProduct {
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.3);
  position: relative;
}

.eachProduct a{
  font-size: 13px;
  color: black;
}

.eachOrder {
  padding: 15px;
  padding-left: 0px;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.3);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr .5fr .5fr;
}

.eachComplete{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  padding: 5px;
  border-bottom:1px solid hsla(0, 0%, 78%, 0.4);
  text-align: center;
}

.labels{
  display: grid;
  grid-template-columns: 2fr 2fr 1fr .75fr .25fr;
  padding: 15px;
  background-color: rgb(0, 0, 199);
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.3);
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.completelabels{
  margin: 0 auto;
  margin-top: 35px;
  width: 95%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  padding: 15px;
  background-color: white;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.3);
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
  color: blue;
}

.tableHeader{
  padding: 15px;
  background-color: rgb(0, 0, 199);
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.3);
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  border-radius: 0px;
}

td, th{
  border-radius: 0px!important;
}

tr.useritem {
 box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.3);
}

.thanksMsg{
  height: 50px;
  line-height: 50px;
  background: linear-gradient(rgb(0, 0, 80), rgb(39, 39, 65));
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.small-button{
  width: 60px;
  margin-left: 10px;
}

.large-button{
  margin-top: 25px;
  width: 125px;
}

.larger-button{
  clear:both;
  float: right;
  width: 175px;
}

.largest-button{
  clear:both;
  float: right;
  width: 200px;
  margin-top: 25px;
  margin-right: 35px;
  margin-bottom: 30px;
}

.close-button{
  margin-left: 20px;
}

.move-button{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 40px;
}

.marginTop{
  margin-top: 40px;
}

.userInput{
  margin-bottom: 10px;
}

.marginTop > .input-field.col label{
  left: 0!important;
}

.cartDescription{
  margin-top: 10px!important;
  font-size: 12px;
  max-width: 100%;
  max-height: 103px;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

[type="checkbox"]+label{
  margin-bottom: 15px;
}

.nameText p{
  margin: 0;
}

.remove{
  position: relative;
}

.remove button.btn{
  color: white!important;
  font-weight: bold;
  font-size: 130%;
  position: absolute;
  top: 35%;
  right: 0;
  cursor: pointer;
  padding: 0px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black!important;
  box-shadow: none!important;
  line-height: 30px;

}

.productImg{
  padding: 5px;
  margin-bottom: 10px;
  height: 190px;
}

.productImg Img{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 100px;
}

.eachOrder a{
  font-size: 13px;
  color: black;
}

.orderModel{
  width: 50%;
  margin-left: auto;
}

.complete{
  width: 100%;
  float: left;
  margin-bottom: 25px;
  padding: 15px;
  padding-left: 0px;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.productPrice{
  width: 86%;
  border-top: 1px solid hsla(0, 0%, 78%, 0.8);
  padding: 10px;
  padding-right: 0px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 0;
  color: green;
  margin-top: 20px;
}

.productPrice .material-icons{
  float: left;
  margin-top: -2px;
}

.detailPrice{
  width: 86%;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 0;
  color: green;
  margin-top: 20px;
}

.modal-footer{
  border-top: 1px solid hsla(0, 0%, 78%, 0.8);
  width: 95%!important;
  margin: 0 auto;
}

.detailsPrice .material-icons{
  float: left;
  margin-top: -2px;
}

.orderPrice{
  float:right;
  margin-right: 50px;
  color: green;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.orderPrice .material-icons{
  float: left;
  margin-top: -2px;
}

.subPrice{
  float:right;
  color: green;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  padding-right: 0px;
}

.subPrice .material-icons{
  float: left;
  margin-top: -2px;
}

.qtyPrice{
  float:right;
  margin-right: 60px;
}

.money{
  margin-top: 7px;
  float: left;
}

.money p{
  float: right;
  margin: 0;
}

.productPrice .button{
  float: right;
}

.productName {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: -35px;
  margin-bottom: 7px;
  border-radius: 3px;
  color: blue;
  font-size: 14px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  white-space: nowrap;
}

.details{
  cursor: pointer;
  margin-left: 5px;
  color: gray;
  text-decoration: underline;
}

.btn.waves-effect.waves-light.btn-flat.modal-action.modal-close{
  font-size: 13px;
  font-weight: bold;
  width: 100px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: blue;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 5px 0px 15px 0px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.shoppingContainer > .eachOrder > .productImg {
  height: 150px;
}

.detail-button{
  float:right;
  margin-bottom: 5px;
  margin-right: 45px;
}

.nameText {
  margin-left: 15px;
  margin-right: 15px;
}

.supportForm {
  background-color: #ffffff;
  padding: 20px;
  padding-top:40px;
  width: 65%;
  margin: 0 auto;
}

.supportForm textarea.materialize-textarea {
  height:200px !important;
} 

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(0);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}


