body > #root > div {
  height: 100vh;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

select {
  display: block;
}

.infowidth {
  width: calc(100% - 0.75em);
}

#username:focus,
#password:focus,
#firstname:focus,
#lastname:focus,
#pass:focus,
#email:focus,
#loginEmail:focus {
  border-bottom: 1px solid blue;
  box-shadow: 0 1px 0 0 blue;
}

.input-field input:focus + label {
  color: blue !important;
}
.inactive-comp {
  display: none;
}

.active-comp {
  display: block;
  animation: slide-down 0.5s ease-in;
}

.no-button {
  background-color: white;
  color: blue;
  box-shadow: none;
  font-size: 13px;
  font-weight: bold;
  width: 100px;
  padding-right: 15px;
  padding-left: 15px;
}

.no-button:hover {
  font-weight: bold;
  background-color: white;
}

.no-button:active,
.no-button:focus {
  background-color: white;
}

.button {
  font-size: 13px;
  font-weight: bold;
  width: 100px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: blue;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.button:hover {
  background-color: blue;
}

.button:active,
.button:focus {
  background-color: rgb(2, 2, 207);
}

.left {
  float: left;
}

.right {
  float: right;
}

.banner {
  min-width: 60%;
  height: 100vh;
  color: white;
  background: linear-gradient(rgba(38, 38, 65, 0.75), rgba(38, 38, 65, 0.75)),
    url("./1.jpg");
  overflow: hidden;
}

.form {
  width: 40%;
  height: 100%;
  max-width: 700px;
  background-color: white;
  color: rgb(38, 38, 65);
}

#firstname,
#lastname,
#pass,
#email,
#loginEmail {
  width: 100%;
}

.formcontainer {
  font-family: "Montserrat", sans-serif;
  width: 60%;
  margin: auto;
  margin-top: 23%;
}

.formcontainer h4 {
  color: blue;
}

.dashboardcontainer {
  width: calc(100% - 225px);
  float: right;
  height: 100vh;
  background-color: rgb(240, 240, 240);
}

#username {
  float: left;
  margin-left: 7px;
}

#companylogo {
  text-transform: uppercase;
  padding: 5px 0;
  padding-bottom: 21px;
  margin-bottom: 0;
  display: inline-block;
  font-size: 18px;
  color: White;
  white-space: nowrap;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  display: block;
  border-bottom: 1px solid rgba(180, 180, 180, 0.3);
}

#account {
  text-transform: uppercase;
  padding: 10px 0;
  margin-bottom: 0;
  display: inline-block;
  font-size: 18px;
  color: White;
  white-space: nowrap;
  font-weight: 400;
  line-height: 32px;
  overflow: hidden;
  text-align: center;
  display: block;
  border-bottom: 1px solid rgba(180, 180, 180, 0.3);
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

#userinfo {
  float: left;
  width: 70%;
  max-width: 160px;
  overflow: hidden;
  height: 32px;
  margin-left: 15px;
  align-items: center;
}

#userinfo img {
  float: left;
  margin-right: 5px;
  width: 32px;
}
.useroptions {
  font-family: "Archivo", sans-serif;
  font-size: 11px;
  background: linear-gradient(rgba(22, 22, 37, 0.9), rgba(38, 38, 65, 0.75));
  border-bottom: 1px solid rgba(180, 180, 180, 0.3);
}

.sidebar .useroptions a {
  padding-left: 20px;
}

#arrow {
  float: right;
  height: 24px;
  margin-top: 4px;
  margin-right: 5px;
  filter: invert(100%);
}

.down {
  transform: rotate(0deg);
  transition: transform 0.25s linear;
}

.up {
  transform: rotate(180deg);
  transition: transform 0.25s linear;
}

.links {
  margin-top: 15px;
}

.links img {
  margin: 16px 10px 0px 12px;
  width: 18px;
  float: left;
  opacity: 0.5;
}

.sidebar .link a {
  float: left;
}

.dashboardtitle {
  margin-left: 20px;
  float: left;
  color: black;
  line-height: 32px;
}

nav ul a {
  color: black !important;
}
nav {
  box-shadow: none !important;
}
.nav-wrapper {
  color: black;
  background-color: rgb(240, 240, 240);
  position: inherit !important;
}

.marketContainer {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  height: 100vh;
  padding: 35px;
  background-color: rgb(240, 240, 240);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.shoppingContainer {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  height: 100vh;
  padding: 35px;
  background-color: rgb(240, 240, 240);
}
.market-nav {
  background-color: rgb(0, 0, 199);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
}

.nested-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
  margin-top: 15px;
  text-align: left;
}

#cart {
  margin-top: 7px;
  text-align: right;
}

#profile {
  margin-top: 7px;
  margin-left: 35px;
}

#search {
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
  background: linear-gradient(rgb(0, 0, 146), rgb(0, 0, 173));
  border:1px solid blue;
  margin-top: 13px;
  height: 41px;
  position: relative;
  color: white;
}

#search input {
  width: calc(100% - 50px);
  float: left;
  margin: 0;
  padding: 0;
  padding: 10px;
  padding-right: 0px;
  padding-left: 20px;
  height: 20px;
  border-bottom: 0px !important;
  font-size: 14px;
  overflow: hidden;
}

.input-field {
  margin-top: 0px !important;
}

#search input[type="text"]:focus,
#search input[type="text"]:active {
  border-bottom: 0px;
  box-shadow: none;
}

#search input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#search i {
  position: absolute;
  margin-right: 5px;
  bottom: 0;
  right: 0;
  float: right !important;
  line-height: 41px;
  cursor: pointer;
}

.market-nav i.material-icons {
  color: white;
}

nav ul a:hover {
  background-color: rgb(240, 240, 240);
}
.sidebar {
  margin: 0;
  width: 225px;
  background: linear-gradient(rgba(38, 38, 65), rgba(22, 22, 37));
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

/* Sidebar links */
.sidebar a {
  transition: all 0.15s ease-in;
  display: block;
  color: white;
  padding: 16px;
  padding-left: 0;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  border-left: 4px solid blue;
  background-color: hsla(0, 0%, 78%, 0.4);
  text-transform: capitalize;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: hsla(0, 0%, 78%, 0.2);
  color: white;
  box-shadow: none;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.eachProduct {
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.3);
  position: relative;
}

.eachProduct a{
  font-size: 13px;
  color: black;
}

.eachOrder {
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.3);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr
}

.eachOrder a{
  font-size: 13px;
  color: black;
}

.orderModel{
  width: 50%;
  margin-left: auto;
}

.productPrice{
  width: 86%;
  border-top: 1px solid hsla(0, 0%, 78%, 0.8);
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 0;
  color: green;
}

.productPrice .material-icons{
  float: left;
  margin-top: -2px;
}

.money{
  margin-top: 7px;
  float: left;
}

.money p{
  float: right;
  margin: 0;
}

.productPrice .button{
  float: right;
}

.productName {
  padding-top: 5px;
  padding-bottom: 5px;
  background: linear-gradient(left, rgb(0, 0, 146), rgb(0, 0, 199));
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: -35px;
  margin-bottom: 7px;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.productImg img{
  width: 100px;
}

.nameText {
  margin-left: 15px;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(0);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
