body > #root > div {
  height: 100vh;
}

body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.infowidth{
 width: calc(100% - .75em);
}

.no-button{
  background-color: white;
  color: blue;
  box-shadow: none;
  font-size: 13px;
  font-weight: bold;
  width: 100px;
  padding-right: 15px;
  padding-left: 15px;
}

.no-button:hover{
  font-weight: bold;
  background-color: white;
 
}

.no-button:active, .no-button:focus{
  background-color: white;
}


.button{
  font-size: 13px;
  font-weight: bold;
  width: 100px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15px;
  background-color: blue;
}

.button:hover{
  background-color: blue;
}

.button:active, .button:focus{
  background-color: rgb(2, 2, 207);
}

.left{
  float:left;
}

.right{
  float:right;
}

.banner{
  min-width: 60%;
  height: 100%!important;
  background-color: rgb(38, 38, 65);
  color: white;
}

.form{
  width: 40%;
  height: 100%;
  max-width: 600px;
  background-color: white;
  color: rgb(38, 38, 65);
}

#firstname{
  width: 100%;
}

#lastname{
  width: 100%;
}

#pass{
  width: 100%;
}

#email{
  width: 100%;
}

.formcontainer{
  font-family: 'Montserrat', sans-serif;
  width: 60%;
  margin:auto;
  margin-top: 125px;
}

.formcontainer h4{
  color: blue;
}

